force-app/main/default/flows/Public_Group_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Group</name>
        <choiceText>Public Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Group_Value</name>
        <choiceText>Public Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queue</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queue_Choice_Value</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Remove</name>
        <label>Add or Remove</label>
        <locationX>174</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_PG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_PG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_into_Public_Group</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove_PG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_PG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_use_from_PG</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_remove_Queue</name>
        <label>Add or Remove</label>
        <locationX>448</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_into_queue</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Remove_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_User_from_Queue</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Or_Queue</name>
        <label>Group Or Queue</label>
        <locationX>332</locationX>
        <locationY>15</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Group_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Public_Group_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Public_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Public_Group_and_User</targetReference>
            </connector>
            <label>Group Decision</label>
        </rules>
        <rules>
            <name>Queue_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Public_Group_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Queue_and_User</targetReference>
            </connector>
            <label>Queue Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Findusequeue</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Enter_User_Name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserIDQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FIndUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>finduserPG</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Enter_User_Name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserIDPG</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicGroupdefind</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Queuedefine</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <label>Public Group / Queue</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_user_into_Public_Group</name>
        <label>Add user into Public Group</label>
        <locationX>80</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserIDPG</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Add_User_into_queue</name>
        <label>Add User into queue</label>
        <locationX>397</locationX>
        <locationY>347</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserIDQueue</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_use_from_PG</name>
        <label>Remove use from PG</label>
        <locationX>240</locationX>
        <locationY>344</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PublicGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDPG</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_User_from_Queue</name>
        <label>Remove User from Queue</label>
        <locationX>540</locationX>
        <locationY>349</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDQueue</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <screens>
        <name>Select_Public_Group_and_User</name>
        <label>Select Public Group and User</label>
        <locationX>175</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Remove</targetReference>
        </connector>
        <fields>
            <name>Select_Public_Group</name>
            <choiceReferences>PublicGroupdefind</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Public Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_User_PG</name>
            <choiceReferences>finduserPG</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Action_PG</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Public_Group_or_Queue_and_User</name>
        <label>Select Public Group or Queue and User</label>
        <locationX>96</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Group_Or_Queue</targetReference>
        </connector>
        <fields>
            <name>Select_Public_Group_Queue</name>
            <choiceReferences>Public_Group</choiceReferences>
            <choiceReferences>Queue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Public Group / Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_User_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter User Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Queue_and_User</name>
        <label>Select Queue and User</label>
        <locationX>445</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_remove_Queue</targetReference>
        </connector>
        <fields>
            <name>Select_Queue</name>
            <choiceReferences>Queuedefine</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Use</name>
            <choiceReferences>Findusequeue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Action_queue</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Public_Group_or_Queue_and_User</startElementReference>
    <status>Active</status>
    <variables>
        <name>PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIDPG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIDQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
